:root {
  --main-color: '#fff';
}

.game-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-field {
  display: flex;
  flex-grow: 1;
}

.game-field__canvas-container {
  width: 100%;
}

.game-field__canvas {
  width: 100%;
  border: 2px solid red;
  //background-image: url('../../Assets/img/background.jpg');
  //background-size: cover;

  flex-grow: 1;
}
